-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cua_hang_vay_cuoi_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `role` enum('super_admin','admin','moderator') DEFAULT 'admin',
  `status` enum('active','inactive') DEFAULT 'active',
  `last_login` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `unique_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `admin_notifications`
--

DROP TABLE IF EXISTS `admin_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Loß║íi th├┤ng b├ío: new_order, new_user, new_contact, new_booking, account_locked, new_payment',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Ti├¬u ─æß╗ü th├┤ng b├ío',
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nß╗Öi dung th├┤ng b├ío',
  `link` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '─É╞░ß╗¥ng dß║½n li├¬n kß║┐t',
  `is_read` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0: ch╞░a ─æß╗ìc, 1: ─æ├ú ─æß╗ìc',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_is_read` (`is_read`),
  KEY `idx_type` (`type`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `banner_promotions`
--

DROP TABLE IF EXISTS `banner_promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banner_promotions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_id` int DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `description` text,
  `promo_code` varchar(80) DEFAULT NULL,
  `discount_value` varchar(50) DEFAULT NULL,
  `background_color` varchar(20) DEFAULT 'pink',
  `is_active` tinyint(1) DEFAULT '1',
  `display_order` int DEFAULT '0',
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `admin_id` (`admin_id`),
  KEY `promo_code` (`promo_code`),
  CONSTRAINT `banner_promotions_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Banner khuyß║┐n m├úi hiß╗ân thß╗ï tr├¬n trang chß╗º v├á c├íc trang kh├íc';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `binh_luan_bai_viet`
--

DROP TABLE IF EXISTS `binh_luan_bai_viet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `binh_luan_bai_viet` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint DEFAULT NULL,
  `admin_id` int DEFAULT NULL COMMENT 'ID admin nß║┐u l├á admin trß║ú lß╗¥i',
  `is_admin_reply` tinyint(1) DEFAULT '0' COMMENT '1 = b├¼nh luß║¡n cß╗ºa admin',
  `bai_viet_id` bigint NOT NULL,
  `noi_dung` text NOT NULL,
  `parent_id` bigint DEFAULT NULL COMMENT 'ID b├¼nh luß║¡n cha (cho reply)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `reply_to_id` int DEFAULT NULL COMMENT 'ID b├¼nh luß║¡n ─æang ─æ╞░ß╗úc trß║ú lß╗¥i',
  PRIMARY KEY (`id`),
  KEY `parent_id` (`parent_id`),
  KEY `idx_bai_viet_id` (`bai_viet_id`),
  KEY `idx_nguoi_dung_id` (`nguoi_dung_id`),
  KEY `idx_created_at` (`created_at`),
  KEY `admin_id` (`admin_id`),
  CONSTRAINT `binh_luan_bai_viet_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_bai_viet_ibfk_2` FOREIGN KEY (`bai_viet_id`) REFERENCES `tin_tuc_cuoi_hoi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_bai_viet_ibfk_3` FOREIGN KEY (`parent_id`) REFERENCES `binh_luan_bai_viet` (`id`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_bai_viet_ibfk_4` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='B├¼nh luß║¡n b├ái viß║┐t tin tß╗⌐c';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `binh_luan_san_pham`
--

DROP TABLE IF EXISTS `binh_luan_san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `binh_luan_san_pham` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint DEFAULT NULL,
  `admin_id` int DEFAULT NULL COMMENT 'ID admin nß║┐u l├á admin trß║ú lß╗¥i',
  `is_admin_reply` tinyint(1) DEFAULT '0' COMMENT '1 = b├¼nh luß║¡n cß╗ºa admin',
  `vay_id` bigint NOT NULL,
  `noi_dung` text NOT NULL,
  `parent_id` bigint DEFAULT NULL COMMENT 'ID b├¼nh luß║¡n cha (cho reply)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `reply_to_id` int DEFAULT NULL COMMENT 'ID b├¼nh luß║¡n ─æang ─æ╞░ß╗úc trß║ú lß╗¥i',
  PRIMARY KEY (`id`),
  KEY `parent_id` (`parent_id`),
  KEY `idx_vay_id` (`vay_id`),
  KEY `idx_nguoi_dung_id` (`nguoi_dung_id`),
  KEY `idx_created_at` (`created_at`),
  KEY `admin_id` (`admin_id`),
  CONSTRAINT `binh_luan_san_pham_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_san_pham_ibfk_2` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_san_pham_ibfk_3` FOREIGN KEY (`parent_id`) REFERENCES `binh_luan_san_pham` (`id`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_san_pham_ibfk_4` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='B├¼nh luß║¡n sß║ún phß║⌐m v├íy c╞░ß╗¢i';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cai_dat`
--

DROP TABLE IF EXISTS `cai_dat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cai_dat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL COMMENT 'Kh├│a c├ái ─æß║╖t',
  `setting_value` text COMMENT 'Gi├í trß╗ï c├ái ─æß║╖t',
  `setting_group` varchar(50) DEFAULT 'general' COMMENT 'Nh├│m c├ái ─æß║╖t',
  `setting_label` varchar(255) DEFAULT NULL COMMENT 'Nh├ún hiß╗ân thß╗ï',
  `setting_type` enum('text','textarea','email','phone','url','number') DEFAULT 'text' COMMENT 'Loß║íi input',
  `sort_order` int DEFAULT '0' COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_group` (`setting_group`),
  KEY `idx_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='C├ái ─æß║╖t hß╗ç thß╗æng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cam_xuc_bai_viet`
--

DROP TABLE IF EXISTS `cam_xuc_bai_viet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cam_xuc_bai_viet` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint NOT NULL,
  `bai_viet_id` bigint NOT NULL,
  `loai_cam_xuc` enum('like','love','wow','haha','sad','angry') NOT NULL DEFAULT 'like',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_post_reaction` (`nguoi_dung_id`,`bai_viet_id`),
  KEY `idx_bai_viet_id` (`bai_viet_id`),
  KEY `idx_loai_cam_xuc` (`loai_cam_xuc`),
  CONSTRAINT `cam_xuc_bai_viet_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cam_xuc_bai_viet_ibfk_2` FOREIGN KEY (`bai_viet_id`) REFERENCES `tin_tuc_cuoi_hoi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Cß║úm x├║c cho b├ái viß║┐t tin tß╗⌐c';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cam_xuc_san_pham`
--

DROP TABLE IF EXISTS `cam_xuc_san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cam_xuc_san_pham` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint NOT NULL,
  `vay_id` bigint NOT NULL,
  `loai_cam_xuc` enum('like','love','wow','haha','sad','angry') NOT NULL DEFAULT 'like',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_product_reaction` (`nguoi_dung_id`,`vay_id`),
  KEY `idx_vay_id` (`vay_id`),
  KEY `idx_loai_cam_xuc` (`loai_cam_xuc`),
  CONSTRAINT `cam_xuc_san_pham_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cam_xuc_san_pham_ibfk_2` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Cß║úm x├║c cho sß║ún phß║⌐m v├íy c╞░ß╗¢i';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cau_hinh_thanh_toan`
--

DROP TABLE IF EXISTS `cau_hinh_thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cau_hinh_thanh_toan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten_ngan_hang` varchar(100) NOT NULL DEFAULT 'Vietcombank',
  `ma_ngan_hang` varchar(20) NOT NULL DEFAULT 'VCB',
  `so_tai_khoan` varchar(50) NOT NULL,
  `ten_tai_khoan` varchar(255) NOT NULL,
  `template` varchar(20) DEFAULT 'compact' COMMENT 'Template QR: compact, print, qr_only',
  `active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chi_tiet_hoa_don`
--

DROP TABLE IF EXISTS `chi_tiet_hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_hoa_don` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint NOT NULL,
  `vay_id` bigint DEFAULT NULL,
  `description` text,
  `amount` decimal(12,2) NOT NULL,
  `quantity` int DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `hoa_don_id` (`hoa_don_id`),
  KEY `vay_id` (`vay_id`),
  CONSTRAINT `chi_tiet_hoa_don_ibfk_1` FOREIGN KEY (`hoa_don_id`) REFERENCES `hoa_don` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_hoa_don_ibfk_2` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dat_lich_thu_vay`
--

DROP TABLE IF EXISTS `dat_lich_thu_vay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dat_lich_thu_vay` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `vay_id` bigint DEFAULT NULL,
  `scheduled_date` date NOT NULL,
  `scheduled_time` time DEFAULT NULL,
  `number_of_persons` int DEFAULT '1',
  `status` enum('pending','confirmed','attended','cancelled') DEFAULT 'pending',
  `note` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `vay_id` (`vay_id`),
  KEY `idx_date_status` (`scheduled_date`,`status`),
  CONSTRAINT `dat_lich_thu_vay_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dat_lich_thu_vay_ibfk_2` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `don_hang`
--

DROP TABLE IF EXISTS `don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `don_hang` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ma_don_hang` varchar(50) DEFAULT NULL COMMENT 'M├ú ─æ╞ín h├áng duy nhß║Ñt',
  `nguoi_dung_id` bigint DEFAULT NULL,
  `ho_ten` varchar(255) DEFAULT '' COMMENT 'Hß╗ì t├¬n ng╞░ß╗¥i nhß║¡n',
  `so_dien_thoai` varchar(30) DEFAULT '' COMMENT 'Sß╗æ ─æiß╗çn thoß║íi ng╞░ß╗¥i nhß║¡n',
  `dia_chi` text COMMENT '─Éß╗ïa chß╗ë nhß║¡n v├íy',
  `tinh_thanh` varchar(100) DEFAULT NULL COMMENT 'M├ú tß╗ënh/th├ánh phß╗æ',
  `quan_huyen` varchar(100) DEFAULT NULL COMMENT 'M├ú quß║¡n/huyß╗çn',
  `phuong_xa` varchar(100) DEFAULT NULL COMMENT 'M├ú ph╞░ß╗¥ng/x├ú',
  `dia_chi_cu_the` varchar(500) DEFAULT NULL COMMENT '─Éß╗ïa chß╗ë cß╗Ñ thß╗â (sß╗æ nh├á, ─æ╞░ß╗¥ng...)',
  `ghi_chu` text COMMENT 'Ghi ch├║ ─æ╞ín h├áng',
  `tong_tien` decimal(14,2) NOT NULL,
  `trang_thai` enum('pending','processing','completed','cancelled') DEFAULT 'pending',
  `phuong_thuc_thanh_toan` varchar(50) DEFAULT 'qr_code' COMMENT 'Ph╞░╞íng thß╗⌐c thanh to├ín',
  `trang_thai_thanh_toan` enum('pending','paid','failed','expired') DEFAULT 'pending' COMMENT 'Trß║íng th├íi thanh to├ín',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT 'Thß╗¥i gian cß║¡p nhß║¡t',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_don_hang` (`ma_don_hang`),
  KEY `nguoi_dung_id` (`nguoi_dung_id`),
  KEY `idx_ma_don_hang` (`ma_don_hang`),
  KEY `idx_trang_thai` (`trang_thai`),
  KEY `idx_trang_thai_thanh_toan` (`trang_thai_thanh_toan`),
  KEY `idx_don_hang_tinh` (`tinh_thanh`),
  CONSTRAINT `don_hang_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `du_lieu_tim_kiem`
--

DROP TABLE IF EXISTS `du_lieu_tim_kiem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `du_lieu_tim_kiem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `keyword` varchar(255) NOT NULL,
  `results_count` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_keyword` (`keyword`),
  CONSTRAINT `du_lieu_tim_kiem_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gio_hang`
--

DROP TABLE IF EXISTS `gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gio_hang` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint NOT NULL,
  `vay_id` bigint NOT NULL,
  `so_luong` int DEFAULT '1',
  `ngay_bat_dau_thue` date NOT NULL,
  `ngay_tra_vay` date NOT NULL,
  `so_ngay_thue` int DEFAULT '1',
  `ghi_chu` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_dress` (`nguoi_dung_id`,`vay_id`),
  KEY `vay_id` (`vay_id`),
  CONSTRAINT `gio_hang_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gio_hang_ibfk_2` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hinh_anh_vay_cuoi`
--

DROP TABLE IF EXISTS `hinh_anh_vay_cuoi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hinh_anh_vay_cuoi` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `vay_id` bigint NOT NULL,
  `url` varchar(1024) NOT NULL COMMENT 'URL hoß║╖c ─æ╞░ß╗¥ng dß║½n tß╗¢i file ß║únh',
  `alt_text` varchar(255) DEFAULT NULL COMMENT 'V─ân bß║ún thay thß║┐ cho ß║únh (tß╗æt cho SEO)',
  `is_primary` tinyint(1) DEFAULT '0' COMMENT '1 = l├á ß║únh ─æß║íi diß╗çn, 0 = l├á ß║únh phß╗Ñ',
  `sort_order` int DEFAULT '0' COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï ß║únh',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `vay_id` (`vay_id`),
  CONSTRAINT `hinh_anh_vay_cuoi_ibfk_1` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hoa_don`
--

DROP TABLE IF EXISTS `hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hoa_don` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `don_hang_id` bigint NOT NULL,
  `nguoi_dung_id` bigint DEFAULT NULL,
  `ma_hoa_don` varchar(100) DEFAULT NULL,
  `tong_thanh_toan` decimal(14,2) NOT NULL,
  `status` enum('unpaid','paid','partially_paid','cancelled') DEFAULT 'unpaid',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `don_hang_id` (`don_hang_id`),
  UNIQUE KEY `ma_hoa_don` (`ma_hoa_don`),
  KEY `nguoi_dung_id` (`nguoi_dung_id`),
  CONSTRAINT `hoa_don_ibfk_1` FOREIGN KEY (`don_hang_id`) REFERENCES `don_hang` (`id`) ON DELETE CASCADE,
  CONSTRAINT `hoa_don_ibfk_2` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `khuyen_mai`
--

DROP TABLE IF EXISTS `khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khuyen_mai` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(80) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `description` text,
  `type` enum('percent','fixed') DEFAULT 'percent',
  `value` decimal(10,2) NOT NULL,
  `min_order_amount` decimal(12,2) DEFAULT '0.00',
  `start_at` datetime DEFAULT NULL,
  `end_at` datetime DEFAULT NULL,
  `usage_limit` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `khuyen_mai_vay`
--

DROP TABLE IF EXISTS `khuyen_mai_vay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khuyen_mai_vay` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `khuyen_mai_id` bigint NOT NULL,
  `vay_id` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `khuyen_mai_id` (`khuyen_mai_id`,`vay_id`),
  KEY `vay_id` (`vay_id`),
  CONSTRAINT `khuyen_mai_vay_ibfk_1` FOREIGN KEY (`khuyen_mai_id`) REFERENCES `khuyen_mai` (`id`) ON DELETE CASCADE,
  CONSTRAINT `khuyen_mai_vay_ibfk_2` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lich_su_chatbot`
--

DROP TABLE IF EXISTS `lich_su_chatbot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_chatbot` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `session_id` varchar(255) DEFAULT NULL,
  `message_from` enum('user','bot') DEFAULT NULL,
  `message` text,
  `metadata` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_session` (`session_id`),
  CONSTRAINT `lich_su_chatbot_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lien_he`
--

DROP TABLE IF EXISTS `lien_he`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lien_he` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `message` text,
  `image_path` varchar(300) DEFAULT NULL,
  `status` enum('new','replied','closed') DEFAULT 'new',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `email_is_valid` tinyint(1) DEFAULT '1' COMMENT 'Email c├│ ─æ├║ng format kh├┤ng',
  `email_is_real` tinyint(1) DEFAULT '1' COMMENT 'Email c├│ thß║¡t kh├┤ng (kiß╗âm tra DNS, MX record)',
  `email_validation_reason` varchar(255) DEFAULT NULL COMMENT 'L├╜ do kß║┐t quß║ú x├íc thß╗▒c',
  `email_validation_details` text COMMENT 'Chi tiß║┐t x├íc thß╗▒c (JSON)',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `lien_he_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nguoi_dung` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) NOT NULL,
  `email` varchar(150) NOT NULL,
  `mat_khau` varchar(255) NOT NULL,
  `so_dien_thoai` varchar(30) DEFAULT NULL,
  `dia_chi` text,
  `tinh_thanh` varchar(100) DEFAULT NULL COMMENT 'M├ú tß╗ënh/th├ánh phß╗æ',
  `quan_huyen` varchar(100) DEFAULT NULL COMMENT 'M├ú quß║¡n/huyß╗çn',
  `phuong_xa` varchar(100) DEFAULT NULL COMMENT 'M├ú ph╞░ß╗¥ng/x├ú',
  `dia_chi_cu_the` varchar(500) DEFAULT NULL COMMENT '─Éß╗ïa chß╗ë cß╗Ñ thß╗â (sß╗æ nh├á, ─æ╞░ß╗¥ng...)',
  `avt` varchar(1000) DEFAULT NULL,
  `status` enum('active','locked','disabled') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_nguoi_dung_tinh` (`tinh_thanh`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `otp_verification`
--

DROP TABLE IF EXISTS `otp_verification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_verification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(150) NOT NULL,
  `otp_code` varchar(6) NOT NULL,
  `ho_ten` varchar(255) NOT NULL,
  `mat_khau` varchar(255) NOT NULL,
  `so_dien_thoai` varchar(30) DEFAULT NULL,
  `dia_chi` text,
  `avt` varchar(500) DEFAULT NULL,
  `expires_at` datetime NOT NULL COMMENT 'Thß╗¥i gian hß║┐t hß║ín OTP (5 ph├║t)',
  `is_verified` tinyint(1) DEFAULT '0' COMMENT '0 = ch╞░a x├íc nhß║¡n, 1 = ─æ├ú x├íc nhß║¡n',
  `attempts` int DEFAULT '0' COMMENT 'Sß╗æ lß║ºn nhß║¡p sai',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_email` (`email`),
  KEY `idx_otp` (`otp_code`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='L╞░u m├ú OTP x├íc nhß║¡n ─æ─âng k├╜';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `password_reset`
--

DROP TABLE IF EXISTS `password_reset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(150) NOT NULL,
  `otp_code` varchar(6) NOT NULL,
  `expires_at` datetime NOT NULL,
  `is_used` tinyint(1) DEFAULT '0',
  `attempts` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_email` (`email`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `quang_cao`
--

DROP TABLE IF EXISTS `quang_cao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quang_cao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_id` int DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `image_url` varchar(1024) DEFAULT NULL,
  `link_url` varchar(1024) DEFAULT NULL,
  `start_at` datetime DEFAULT NULL,
  `end_at` datetime DEFAULT NULL,
  `active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `admin_id` (`admin_id`),
  KEY `idx_active_time` (`active`,`start_at`,`end_at`),
  CONSTRAINT `quang_cao_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thanh_toan`
--

DROP TABLE IF EXISTS `thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thanh_toan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint DEFAULT NULL,
  `don_hang_id` bigint DEFAULT NULL,
  `payment_gateway` varchar(100) DEFAULT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  `amount` decimal(14,2) NOT NULL,
  `status` enum('initiated','success','failed','refunded') DEFAULT 'initiated',
  `paid_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `hoa_don_id` (`hoa_don_id`),
  KEY `don_hang_id` (`don_hang_id`),
  KEY `idx_tx` (`transaction_id`),
  CONSTRAINT `thanh_toan_ibfk_1` FOREIGN KEY (`hoa_don_id`) REFERENCES `hoa_don` (`id`) ON DELETE SET NULL,
  CONSTRAINT `thanh_toan_ibfk_2` FOREIGN KEY (`don_hang_id`) REFERENCES `don_hang` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thanh_toan_qr`
--

DROP TABLE IF EXISTS `thanh_toan_qr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thanh_toan_qr` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `don_hang_id` bigint NOT NULL,
  `ma_giao_dich` varchar(100) NOT NULL COMMENT 'M├ú giao dß╗ïch duy nhß║Ñt',
  `so_tien` decimal(14,2) NOT NULL COMMENT 'Sß╗æ tiß╗ün cß║ºn thanh to├ín',
  `noi_dung_chuyen_khoan` varchar(255) NOT NULL COMMENT 'Nß╗Öi dung chuyß╗ân khoß║ún',
  `qr_code_url` text COMMENT 'URL cß╗ºa QR code',
  `qr_data` text COMMENT 'Dß╗» liß╗çu QR code',
  `trang_thai` enum('pending','paid','expired','cancelled') DEFAULT 'pending',
  `thoi_gian_het_han` datetime NOT NULL COMMENT 'Thß╗¥i gian hß║┐t hß║ín (10 ph├║t)',
  `thoi_gian_thanh_toan` datetime DEFAULT NULL COMMENT 'Thß╗¥i gian thanh to├ín thß╗▒c tß║┐',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_giao_dich` (`ma_giao_dich`),
  KEY `don_hang_id` (`don_hang_id`),
  KEY `idx_ma_giao_dich` (`ma_giao_dich`),
  KEY `idx_trang_thai` (`trang_thai`),
  KEY `idx_het_han` (`thoi_gian_het_han`),
  CONSTRAINT `thanh_toan_qr_ibfk_1` FOREIGN KEY (`don_hang_id`) REFERENCES `don_hang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Thanh to├ín qua QR code';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_bao` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint NOT NULL COMMENT 'ID ng╞░ß╗¥i nhß║¡n th├┤ng b├ío',
  `loai` enum('admin_reply','order_update','new_blog','promotion','system','comment_reply') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tieu_de` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Ti├¬u ─æß╗ü th├┤ng b├ío',
  `noi_dung` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nß╗Öi dung th├┤ng b├ío',
  `link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Link ─æß║┐n trang li├¬n quan',
  `da_doc` tinyint(1) DEFAULT '0' COMMENT '0 = ch╞░a ─æß╗ìc, 1 = ─æ├ú ─æß╗ìc',
  `reference_id` int DEFAULT NULL COMMENT 'ID tham chiß║┐u (comment_id, order_id, blog_id...)',
  `reference_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Loß║íi tham chiß║┐u (comment, order, blog...)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `read_at` timestamp NULL DEFAULT NULL COMMENT 'Thß╗¥i gian ─æß╗ìc',
  PRIMARY KEY (`id`),
  KEY `idx_nguoi_dung` (`nguoi_dung_id`),
  KEY `idx_da_doc` (`da_doc`),
  KEY `idx_loai` (`loai`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `thong_bao_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thong_bao_blog_sent`
--

DROP TABLE IF EXISTS `thong_bao_blog_sent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_bao_blog_sent` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bai_viet_id` int NOT NULL,
  `nguoi_dung_id` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_blog_user` (`bai_viet_id`,`nguoi_dung_id`),
  KEY `nguoi_dung_id` (`nguoi_dung_id`),
  CONSTRAINT `thong_bao_blog_sent_ibfk_1` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thong_ke_hang_ngay`
--

DROP TABLE IF EXISTS `thong_ke_hang_ngay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_ke_hang_ngay` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `stat_date` date NOT NULL,
  `total_orders` int DEFAULT '0',
  `total_revenue` decimal(14,2) DEFAULT '0.00',
  `total_visitors` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stat_date` (`stat_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tin_tuc_cuoi_hoi`
--

DROP TABLE IF EXISTS `tin_tuc_cuoi_hoi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tin_tuc_cuoi_hoi` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_id` int DEFAULT NULL,
  `title` varchar(300) NOT NULL,
  `slug` varchar(300) NOT NULL,
  `summary` text,
  `content` longtext,
  `promotion_code` varchar(80) DEFAULT NULL,
  `cover_image` varchar(1024) DEFAULT NULL,
  `published_at` datetime DEFAULT NULL,
  `status` enum('draft','published','archived') DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `admin_id` (`admin_id`),
  KEY `idx_status_pub` (`status`,`published_at`),
  KEY `fk_promotion_code` (`promotion_code`),
  CONSTRAINT `fk_promotion_code` FOREIGN KEY (`promotion_code`) REFERENCES `khuyen_mai` (`code`) ON DELETE SET NULL,
  CONSTRAINT `tin_tuc_cuoi_hoi_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_coupon_usage`
--

DROP TABLE IF EXISTS `user_coupon_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_coupon_usage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `coupon_code` varchar(80) NOT NULL,
  `order_id` bigint DEFAULT NULL,
  `discount_amount` decimal(12,2) NOT NULL,
  `used_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_coupon_order` (`user_id`,`coupon_code`,`order_id`),
  KEY `coupon_code` (`coupon_code`),
  KEY `order_id` (`order_id`),
  KEY `idx_user_coupon` (`user_id`,`coupon_code`),
  KEY `idx_used_at` (`used_at`),
  CONSTRAINT `user_coupon_usage_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_coupon_usage_ibfk_2` FOREIGN KEY (`coupon_code`) REFERENCES `khuyen_mai` (`code`) ON DELETE CASCADE,
  CONSTRAINT `user_coupon_usage_ibfk_3` FOREIGN KEY (`order_id`) REFERENCES `don_hang` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Theo d├╡i viß╗çc sß╗¡ dß╗Ñng coupon cß╗ºa tß╗½ng user';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vay_cuoi`
--

DROP TABLE IF EXISTS `vay_cuoi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vay_cuoi` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ma_vay` varchar(50) NOT NULL,
  `ten_vay` varchar(255) NOT NULL,
  `mo_ta` text,
  `phong_cach` enum('c├┤ng ch├║a','─æu├┤i c├í','chß╗» a','hiß╗çn ─æß║íi','vintage','minimalist') DEFAULT NULL COMMENT 'Phong c├ích v├íy c╞░ß╗¢i',
  `mau_sac` varchar(50) DEFAULT 'Trß║»ng' COMMENT 'M├áu sß║»c v├íy',
  `gia_thue` decimal(12,2) NOT NULL,
  `so_luong_ton` int DEFAULT '0',
  `size` text COMMENT 'JSON sizes',
  `hinh_anh_chinh` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_vay` (`ma_vay`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vay_cuoi_size`
--

DROP TABLE IF EXISTS `vay_cuoi_size`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vay_cuoi_size` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `vay_id` bigint NOT NULL,
  `size` enum('XS','S','M','L','XL','XXL','XXXL') NOT NULL,
  `so_luong` int DEFAULT '1' COMMENT 'Sß╗æ l╞░ß╗úng v├íy theo size n├áy',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_vay_size` (`vay_id`,`size`),
  CONSTRAINT `vay_cuoi_size_ibfk_1` FOREIGN KEY (`vay_id`) REFERENCES `vay_cuoi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Bß║úng quß║ún l├╜ size cß╗ºa tß╗½ng v├íy c╞░ß╗¢i';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-08 13:55:35
