/* Snowfall Effect */
#snowfall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    user-select: none;
    pointer-events: none;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0.8;
    }
}

/* Snowflake variations */
.snowflake:nth-child(odd) {
    animation-duration: 15s;
}

.snowflake:nth-child(even) {
    animation-duration: 20s;
}

.snowflake:nth-child(3n) {
    animation-duration: 18s;
    font-size: 0.8em;
}

.snowflake:nth-child(4n) {
    animation-duration: 25s;
    font-size: 1.2em;
}

.snowflake:nth-child(5n) {
    animation-duration: 22s;
    font-size: 0.6em;
}

.snowflake:nth-child(6n) {
    animation-duration: 16s;
    font-size: 1em;
}

.snowflake:nth-child(7n) {
    animation-duration: 19s;
    font-size: 0.9em;
}
